
.mainFormDiv {
    margin-top: 12%;
}

.errorMessage {
    color: red;
    margin: 1% !important;
}

#gameLogo {
    float: left;
    margin-left: 20px;
}

#welcomeMessage {
    margin-top: 5px;
}

#hpMessage {
    margin-top: 5px;
    margin-left: 10px;
}

.parametersList {
    margin-top: 5px;
    margin-left: 10px;
}

#xpMessage {
    margin-top: 5px;
    margin-left: 10px;
}

#armorMessage {
    margin-top: 5px;
    margin-left: 10px;
}

#lvlMessage {
    margin-top: 5px;
    margin-left: 10px;
}

#goldMessage {
    margin-top: 5px;
    margin-left: 10px;
}

#logOutLink {
    font-weight: bold;
    float: right;
    font-size: large;
    margin-top: 5px;
    margin-right: 25px;
}

#commandBtn {
    height: 45px;
    width: 90px;
}

.gameSpace {
    margin-top: 70px;
    margin-left: 10px;
    width: 98%;
    min-height: 500px;
}

#gamePanel {
    min-height: 500px;
}

#panelHeading {
    height: 40px;
}

#storyContent {
    overflow-y: auto;
    overflow-x: hidden;
    height: 440px;
    white-space: wrap;
}

#consoleInput {
    height: 45px;
}

#greetingInformationDiv {
    display: none;
    margin-top: 0px !important;
}

.big-link {
    display: block;
    margin-top: 100px;
    text-align: center;
    font-size: 70px;
    color: #06f;
}

.image-over {
    position: relative;
    top: 0;
    left: -43px;
}

.redInfo {
    color: red;
}

.greenInfo {
    color: green;
}

#mapDiv {
    top: 5% !important;
    left: 30% !important;
    right: 30% !important;
}

#mapTable {
    width: inherit;
    height: inherit;
    padding: 0 !important;
    border: 0 !important;
    border-collapse: separate !important
}

.texture {
    width: 60px;
}

.field-texture {
    background-size: 100%, 100%;
    height: 60px;
}

.user-texture {
    z-index: 1;
    position: absolute;
    margin-top: -32px;
}

.passage-texture {
    z-index: 0;
    position: absolute;
    margin-top: -30px
}




