<table>
    <th>Dodatkowe atrybuty</th>
    <tr>
        <td> Rodzaj walki:</td>
        <td>
            <select name="fight_type" id="directory" disabled>
                <option value="toDeath" selected>Do śmierci</option>
                <option value="timeLimit">Przez określony czas</option>
            </select>
        </td>
    </tr>
{#    <tr>#}
{#        <td>Czas trwania [s]:</td>#}
{#        <td><input name="time"></td>#}
{#    </tr>#}

    <tr>
        <td> Postać raportu</td>
        <td>
            <select name="raport_type" id="raport_type" disabled>
                <option value="txt" selected>Tekstowy</option>
                <option value="graphical">Graficzny</option>
            </select>
        </td>
    </tr>

    <tr>
        <td> Strumień wyjścia</td>
        <td>
            <select name="output" id="output" disabled>
                <option value="file" selected>Plik</option>
                <option value="html">Widok HTML</option>
            </select>
        </td>
    </tr>

</table>