{% extends "default.html" %}
{% load staticfiles %}

{% block head %}
    <script src="{% static "js/templates/simulation_fight.js" %}"></script>
    <script src="{% static "js/templates/game.js" %}"></script>
    <script src="{% static "js/templates/game/game_layout.js" %}"></script>
{% endblock %}

{% block content %}

    <script type="text/javascript">

        $(document).ready(function () {
            $("#monster_1").val(1);
            $("#monster_2").val(2);

            var monsters = {{ monsters|safe }};

            changeMonster(1, monsters);
            changeMonster(2, monsters);

            $("#monster_1").change();
            $("#monster_2").change();

            $("#simulationSettings :input").attr("disabled", true);
            $("#showSimulationResults").attr("disabled", false);

            $("#leftHead").prepend(monsters[0].name);
            $("#rightHead").prepend(monsters[1].name);
            startSimulation(monsters[0], monsters[1]);
        });

    </script>

    <div class="gameSpace">

        <div id="gamePanel" class="panel panel-primary">

            <div id="panelHeading" class="panel-heading">
                <center>
                    <a href="#" id="revealModalButtonResponse" data-reveal-id="responseDiv" data-animation="fade"
                       style="color:yellow;font-size:large">
                        Symulacja walki
                    </a>
                </center>
            </div>

            <div id="leftHalfDiv" style="display: inline-block; width:47%; margin-left:2%">
                <br>

                <div id="leftHead" style="display:fixed"></div>

                <div id="leftPlace">
                </div>
            </div>

            <div id="rightHalfDiv" style="display: inline-block; width:47%; margin-left:2%">
                <br>

                <div id="rightHead" style="display:fixed"></div>
                <div id="rightPlace">
                </div>
            </div>

        </div>

    </div>

    <center id="showSimulationResults" style="display:none">
        <a download="proposed_file_name.log" method="get" href="/static/application.log">
            <button type="submit">Pobierz raport!</button>
        </a>
{#        <br/>#}
{#        <a href="javascript:window.print()">Zapisz dane wejściowe</a>#}
    </center>

    <div id="simulationSettings">
        {% include "simulation/setSimulation.html" %}
    </div>


    {#    <div class="setSimulationDiv">#}
    {#        <center style="color:red">#}
    {#            Symulacja została zakończona#}
    {#        </center>#}
    {#    </div>#}
{% endblock %}

