{% extends "default.html" %}



{% block content %}
    <script type="text/javascript">

        $(document).ready(function () {

            var monsters = {{ monsters|safe }};
            var special_attacks = {{ special_attacks|safe }};

            changeMonster(1, monsters);
            changeMonster(2, monsters);

            addAttack(special_attacks);
            deleteAttack();

            $("#monster_1").change();
            $("#monster_2").change();

        });

    </script>


    <title></title>


    <div class="setSimulationDiv">

        <form action="/simulation/run/" method="POST" enctype="multipart/form-data">{% csrf_token %}

            {% if additional_attributes == True %}
                <h3>Symulacja walki</h3>
                <br>
            {% endif %}


            <div id="parameterDiv">

                {% with no=1 %}
                    {% with align="align='left'" %}
                        {% include "simulation/simulationTable.html" %}
                    {% endwith %}
                {% endwith %}

                {% with no=2 %}
                    {% include "simulation/simulationTable.html" %}
                {% endwith %}

                <br><br><br><br><br>

                {% if additional_attributes == True %}
                    {% include "simulation/additional_attributes.html" %}
                {% endif %}

            </div>

{#            <br>#}
{#            <a href="javascript:window.print()">Zapisz dane wejściowe</a>#}

            {% if additional_attributes == True %}
                <br><br>
                <input type="submit" value="Rozpocznij symulację" style="float: left; left:10%;">
            {% endif %}

        </form>
    </div>
{% endblock %}