{% block monsterTable %}

    <table {{ align }} class="parameterDivClass">
        <th>Parametry potwora nr {{ no }}</th>
        <tr id="monster_row_{{ no }}">
            <td> Wybierz potwora</td>
            <td>
                <select id="monster_{{ no }}" name="monster_{{ no }}">
                    <option value=""> -- wybierz potwora --</option>
                    {% for monster in monsters %}
                        <option value="{{ forloop.counter }}">{{ monster.name }}</option>
                    {% endfor %}
                </select>
            </td>
        </tr>

        <tr>
            <td>Punkty HP:</td>
            <td><input id="hp_{{ no }}" name="hp_{{ no }}"></td>
        </tr>

        {% for pol_name, eng_name in parameter_names.items %}

            <tr>
                <td> {{ pol_name }}</td>
                <td><input id="{{ eng_name }}_{{ no }}" name="{{ eng_name }}_{{ no }}"></td>
            </tr>

        {% endfor %}


        <tr>
            <td> Szansa na zaaw. atak:</td>
            <td><input id="special_attack_probability_{{ no }}" name="parameter_{{ no }}"></td>
        </tr>
{#        <tr>#}
{#            <td> Strategia walki</td>#}
{#            <td>#}
{#                <select name="strategy_{{ no }}" id="strategy_{{ no }}">#}
{#                    <option value="greedy">Zachłanna</option>#}
{#                    <option value="conservative">Zachowawcza</option>#}
{#                    <option value="simple">Najprostszy atak</option>#}
{#                </select>#}
{#            </td>#}
{#        </tr>#}

        <tr>
            <td> Zaaw. ataki</td>
            <td>
                <select name="attacks_{{ no }}" id="attacks_{{ no }}">
                    {% for special_attack in special_attacks %}
                        <option value="{{ forloop.counter }}">{{ special_attack }}</option>
                    {% endfor %}
                </select>
                <input type="button" class="add_attack" id="add_attack_{{ no }}" value="Add">
            </td>
        </tr>
        {#        <br><br>#}
        <tr>
            <td>Wybrane ataki</td>
            <td id="monster_attacks_{{ no }}"></td>
        </tr>

    </table>
{% endblock %}