{% extends "default.html" %}

{% block content %}

       <script type="text/javascript">
       $(document).ready(function() {
           $('#select_all').click(function() {
               if($('#select_all').is(':checked')){
                    $("#choosen_tables").find("option").each(function() {
                        $(this).attr('selected', 'selected');
                    });
               } else {
                    $("#choosen_tables").find("option").each(function() {
                        $(this).removeAttr('selected');
                    });
               }
            });
       });

       </script>

    <form action="/create/backup/" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <h3>Wybierz tabele, których BACKUP chcesz utworzyć</h3>
        <select name="choosen_tables" id="choosen_tables" multiple size="15">
            <option>Player</option>
            <option>ReportTime</option>
            <option>ReportResponse</option>
            <option>PlayableParameter</option>
            <option>PlayerParameter</option>
            <option>Equipment</option>
            <option>PlayerEquipmentSlot</option>
            <option>Monster</option>
            <option>MonsterLandType</option>
            <option>MonsterParameter</option>
            <option>MonsterLoot</option>
            <option>ItemType</option>
            <option>EquipmentSlot</option>
            <option>Item</option>
            <option>ItemLandType</option>
            <option>ItemParameters</option>
            <option>LandType</option>
            <option>MapLevel</option>
            <option>Map</option>
            <option>MapPassage</option>
            <option>AssetInMap</option>
            <option>NormalAsset</option>
            <option>NPC</option>
            <option>DialogState</option>
            <option>Stone</option>
            <option>Riddle</option>
            <option>Chest</option>
            <option>ChestLoot</option>
            <option>DialogGraph</option>
            <option>Quest</option>
            <option>QuestObject</option>
        </select>
        <br/><br/>
        <input type="checkbox" id="select_all" /> Wszystkie
        <br/><br/>
        <input type="submit" value="Stwórz" />
    </form>

{% endblock %}