{% extends "default.html" %}

{% block content %}

       <script type="text/javascript">
       $(document).ready(function() {
           $('#select_all').click(function() {
               if($('#select_all').is(':checked')){
                    $("#choosen_tables").find("option").each(function() {
                        $(this).attr('selected', 'selected');
                    });
               } else {
                    $("#choosen_tables").find("option").each(function() {
                        $(this).removeAttr('selected');
                    });
               }


            });

           $('#directory').change(function() {
                $('#choosen_tables').html("");
                $('#select_all').attr('checked', false)
                var data = {directory: $(this).val()};

                if (data.directory=="---")
                    return;

                $.ajax({
                    dataType: "json",
                    url: "/get/backup/tables/",
                    timeout:3000,
                    data: data,
                    success: function (data) {
                        if(data.status=='error')
                            alert("Error occurred while loading data tables")
                        else {
                            for (var i=0; i<data.table_names.length; i++){
                                $('#choosen_tables').append("<option>" + data.table_names[i] + "</option>");
                            }
                            //alert(JSON.stringify(data))
                        }
                    },
                    error: function (jqXHR, exception) {
                        if (jqXHR.status === 0) {
                            alert('Stracono połączenie z internetem');
                        } else if (jqXHR.status == 404) {
                            alert('Requested page not found. [404]');
                        } else if (jqXHR.status == 500) {
                            alert('Internal Server Error [500].');
                        } else if (exception === 'parsererror') {
                            alert('Requested JSON parse failed.');
                        } else if (exception === 'timeout') {
                            alert('Time out error.');
                        } else if (exception === 'abort') {
                            alert('Ajax request aborted.');
                        } else {
                            alert('Uncaught Error.\n' + jqXHR.responseText);
                        }
                    }
                });
           });
       });

       </script>

    <form action="/restore/backup/" method="POST" enctype="multipart/form-data">{% csrf_token %}
    <h3>Wybierz katalog z Backupem</h3>
        <select name="directory" id="directory">
                <option>---</option>
            {% for name in dir_names %}
                <option>{{ name }}</option>
            {%  endfor %}
        </select>

    <h3>Wybierz tryb importu</h3>
    <select name="type">
        <option value="del">Nadpisywanie</option>
        <option value="mod">Dopisywanie</option>
    </select>

    <h3>Wybierz tabele, z których chcesz zaimportować dane</h3>
        <select name="choosen_tables" id="choosen_tables" multiple size="15">
        </select>
        <br/><br/>
        <input type="checkbox" id="select_all" /> Wszystkie
        <br/><br/>
        <input type="submit" value="Stwórz" />
    </form>

{% endblock %}