<center>
    <div id="mapDiv" class="reveal-modal">

        <table id="mapTable">
            {% for row in mapFields %}
                <tr>
                    {% for field in row %}

                        <td class="image-over-div texture field-texture" id="texture-div-{{ field.y }}-{{ field.x }}">
                            <div>
                                {% if field != None %}
                                    <img class="adding texture user-texture"
                                         id="texture-user-{{ field.y }}-{{ field.x }}"/>
                                    <img class="adding texture passage-texture"
                                         id="texture-passage-{{ field.y }}-{{ field.x }}"/>
                                {% endif %}
                            </div>

                        </td>

                    {% endfor %}
                </tr>
            {% endfor %}

        </table>
        <a class="close-reveal-modal">&#215;</a>
    </div>


    <a href="#" id="revealModalButton" class="big-link" data-reveal-id="mapDiv" style="display:none"
       data-animation="fade">
        Pokaż mapę
    </a>
</center>
