{% extends "default.html" %}

{% block content %}

    <script type="text/javascript">
        $(document).ready(function(){

            $("#logAsPP").click(function(){
                $("#username").val('pp');
                $("#password").val('pp');
                $("#registerButton").click();
            });

            $("#logAsQQ").click(function(){
                $("#username").val('qq');
                $("#password").val('qq');
                $("#registerButton").click();
            });

            $("#logAsRR").click(function(){
                $("#username").val('rr');
                $("#password").val('rr');
                $("#registerButton").click();
            });

        });

        $(document).keyup(function (e) {
            if (e.which == 13) {
                $('#loginButton').trigger('click');
            }
        });
    </script>

    <p id="logAsPP" align="left" style="color:white;">Zaloguj jako pp</p>
    <p id="logAsQQ" align="left" style="color:white;">Zaloguj jako qq</p>
    <p id="logAsRR" align="left" style="color:white;">Zaloguj jako rr</p>

    <div class="mainFormDiv" align="center">
        <div class="errorMessage">
            {{ message }}
        </div>

        <form action="/register/" method="post">{% csrf_token %}
            <h2>Panel rejestracji:</h2>
            <input class="form-control" type="text" name="username" value="" id="username"
                   required="required" autofocus placeholder="Login">
            <input class="form-control" type="password" name="password" value="" id="password"
                   required="required" placeholder="Hasło">

            <input id="registerButton" class="btn btn-lg btn-primary btn-block" type="submit" value="Zarejestruj">

            <div onclick="location.href = '/'" class="btn btn-default btn-lg btn-block">Wróć</div>
        </form>

    </div>
    <span style="display:none" class="registerView"></span>
{#    only for testing #}

{% endblock %}